@font-face {
    font-family: 'ethnocentric';
    src: url('../fonts/ethnocentric.ttf') format('truetype');
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo {
    margin-right: 10px;
}

.logostyle {
    font-family: 'ethnocentric', sans-serif;
    letter-spacing: .3rem;
    font-size: 16px;
    position: relative;
    margin: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.logostyle img {
    margin-right: 5px;
    /* Adjust the value to create the desired gap */
}

.nav-links {
    display: flex;
}

.nav-links a {
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.nav-links a.current {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    text-decoration: underline;
}

.footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.social-icons {
    text-align: right;
    padding-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-left: 10px;
}

#outer-wrapper {
    background-color: #242435;
    /* Replace with your desired background color */
    padding: 40px;
}

#calendar-wrapper {
    background-color: #fafafa;
    /* Replace with your desired background color */
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

#calendar {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    color: #ffffff;
    background-color: #242435;
    justify-content: center;
    align-items: center;
}

.inputbut {
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #5882FD;
    color: #ffffff;
    border: 1px solid #5882FD;
    border-radius: 4px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #000000;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: #e5e5e5;
}

.custom-file-upload input[type="file"] {
    display: none;
    margin-bottom: 10px;
}

.message-container {
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
}

.message-text {
    font-size: 22px;
    font-weight: bold;
    text-align: left;

}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal-title {
    white-space: nowrap;
    overflow: hidden;
}