@font-face {
    font-family: 'ethnocentric';
    src: url('../fonts/ethnocentric.ttf') format('truetype');
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo {
    margin-right: 10px;
}

.logostyle {
    font-family: 'ethnocentric', sans-serif;
    letter-spacing: .3rem;
    font-size: 16px;
    position: relative;
    margin: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.logostyle img {
    margin-right: 5px;
    pointer-events: none;
}

.nav-links {
    display: flex;
}

.nav-links a {
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.nav-links a:hover{
    cursor: pointer;
}

.nav-links a.current {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    text-decoration: underline;
}

.footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    pointer-events: none;
}

.social-icons {
    text-align: right;
    padding-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-left: 10px;
}

#outer-wrapper {
    background-color: #242435;
    /* Replace with your desired background color */
    padding: 40px;
}

#calendar-wrapper {
    background-color: #fafafa;
    /* Replace with your desired background color */
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

#calendar {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    color: #ffffff;
    background-color: #242435;
    justify-content: center;
    align-items: center;
}

.inputbut {
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #5882FD;
    color: #ffffff;
    border: 1px solid #5882FD;
    border-radius: 4px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #000000;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: #e5e5e5;
}

.custom-file-upload input[type="file"] {
    display: none;
    margin-bottom: 10px;
}

.message-container {
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
}

.message-text {
    font-size: 22px;
    font-weight: bold;
    text-align: left;

}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal-title {
    white-space: nowrap;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-size: 25px;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submitbut {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #5882FD;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 110px;
}

.submitbut:hover {
    background-color: #5175e4;
}

.submitbut:active {
    background-color: #405eb8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formlocation {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.submitloc {
    padding: 10px 20px;
    background-color: #5882FD;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.submitloc:hover {
    background-color: #5175e4;
}

.fixspace {
    margin-right: 5px;
}

.modal-fade {
    display: none;
    /* Hide the modal by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent black background */
}

.modal-struct {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.modal-struct p {
    margin-bottom: 10px;
}

.modal-struct input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.buttonSaveCal button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
}

.collapsible::after {
    content: '\25BC';
    /* Down arrow */
    display: inline-block;
    margin-left: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.active::after {
    transform: rotate(180deg);
}

.contentCollapse {
    display: none;
    overflow: hidden;
}

.hidden {
    display: none;
}

#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 9999;
}

.clicked-event {
    border: 3px solid black;
}

.tbl-container {
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.tbl-fixed {
    overflow-x: scroll;
    overflow-y: scroll;
    height: fit-content;
    max-height: 70vh;
    margin-top: 40px;
}

#ScheduleTable {
    border-collapse: condense;
    min-width: max-content;
}

.MaintenanceData, .PlaneHead {
    border: 1px solid #cccccc;
    background: white;
    padding: 8px;
}

#TailNumberHead {
    position: sticky;
    top: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.MaintenanceData:hover {
    background: #3492eb;
    border: 3px solid black;
}