<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="ROUSApp/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ROUSApp/static/images/favicon-16x16.png">
    <link rel="mask-icon" href="ROUSApp/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- CSS File -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="ROUSApp/static/css/style.css">
    <!-- JavaScript File -->
    <script type="text/javascript" src="ROUSApp/static/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: 'Locations',
                width: 'resolve'

            });
        });
    </script>

</head>

<body>

    <header class="header">
        <div class="logostyle">{% load static %}<img src="ROUSApp/static/images/TesseractLogo.ico" alt="Logo">
            <span>TESSERACT</span>
        </div>

        <nav class="nav-links">
            <a href="location.html">Add Location</a>
        </nav>
    </header>


    <div class="content">
        <div id="dropdownContainer">
            <select class="js-example-basic-single" style="width: 200%" name="Locations" id="select">

            </select>
        </div>
        <div>
            <button class="submitbut" id="submit-btn">Submit</button>
        </div>
    </div>

    <footer class="footer">
        {% load static %}<img src="ROUSApp/static/images/AirForceLogoBlack.png" alt="Air Force Logo">

    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>