{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Import</title>
    {% bootstrap_css %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="header">
        <div class="logostyle">{% load static %}<img src="{% static '/images/TesseractLogo.ico' %}" alt="Logo">
            <span>TESSERACT</span>
        </div>
        <nav class="nav-links">
            <a href="/" class="current">Calendar</a>
            <a href="docupload.html">Import</a>
        </nav>
    </header>

    <div class="content">
        <form action="import_excel" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="excel_file" accept=".xlsx, .xls">
            <button type="submit">Import</button>
        </form>
    </div>

    <footer class="footer">
        {% load static %}<img src="{% static '/images/AirForceLogoBlack.png' %}" alt="Air Force Logo">

        <div class="social-icons">
            <a href="https://www.Linkedin.com">{% load static %}<img src="{% static '/images/Linkedin.png' %}"
                    alt="Linkedin"></a>
            <a href="#">{% load static %}<img src="{% static '/images/Envelope.png' %}" alt="Email"></a>
            <a href="https://www.facebook.com">{% load static %}<img src="{% static '/images/Facebook.png' %}"
                    alt="Facebook"></a>
            <a href="https://www.twitter.com">{% load static %}<img src="{% static '/images/Twitter.png' %}"
                    alt="Twitter"></a>
        </div>
    </footer>

    {% bootstrap_javascript %}
</body>

</html>